body {
    font-family: TimesNewRoman, sans-serif;
    line-height: 2.0;
    margin: 0;
    padding: 20px;
    background-color: #35e6fd;
}
.special-box {
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    border: 10px solid #7be2d1;
    background-color: #ffffff;
    text-align: center;
    border-radius: 180px;
    box-shadow: 0 7px 10px rgba(52, 126, 136, 0.1)
}
.special-box img {
    width: 100%;
    height: auto;
    border-radius: 150px;
}

h1, h2, h3 {
    color: #000000;
}
h1 {
    border-bottom: 3px solid #02409c;
    padding-bottom: 20px;
}
h2 {
    margin-top: 50px;
    color: #02409c;
}
ul {
    list-style-type: none;
    padding: 1;
}
li {
    margin: 5px 0;
}
strong {
    color: #02409c;
}
em {
    color: #02409c;
}
pre {
    background-color: 	#ffffff;
    padding: 20px;
    border-radius: 10px;
}